.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
**/*.tfstate
**/*.tfstate.*
**/terra-key-ec2
**/terra-key-ec2.pub

# Ignore dependency lock files everywhere (Fixes your issue)
.terraform.lock.hcl
**/.terraform.lock.hcl
